flows/Stats_Calculator_and_Aggregator.json
{"flowContents":{"identifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652","instanceIdentifier":"42296071-0199-1000-8fd1-87575e2d34dc","name":"Stats Calculator and Aggregator","comments":"","position":{"x":-448.0,"y":-440.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"170fa2c6-056d-37f7-af30-4b012fe45d46","instanceIdentifier":"42729f86-0199-1000-6a55-dbd22c86582d","name":"ExecuteScript","comments":"","position":{"x":-392.0,"y":-104.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":null,"isSample":"true","stateFileName":"frequencies-state.json","Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef filterTopic =  { flowFile ->\n\t// topicFilterPattern\n\treturn true\n}\n\ndef filterKey =  { flowFile ->\n\t// keyFilterPattern\n\treturn true\n}\n\ndef aggreagteFlowFileState = { flowFile, state ->\n\t// def id = flowFile.getAttribute('uuid')\n    // def name = flowFile.getAttribute('filename')\n\t// state[id] = name\n\t\n\tif(!filterTopic(flowFile)) session.remove(flowFile)\n\t\t\n\tif(!filterKey(flowFile)) session.remove(flowFile)\n\t\n\tstate['counter'] = state.get('counter', 0) + 1\n\t\n\tsession.remove(flowFile)\n\treturn state\n}\n\ndef getCurrentState = { String filePath ->\n    if (!filePath) {\n        log.warn(\"File path is null or empty. Returning empty JSON object.\")\n        return [:]\n    }\n\n    def jsonFile = new File(filePath)\n    if (!jsonFile.exists()) {\n        log.info(\"JSON file not found at path: ${filePath}. Initializing empty JSON object.\")\n        return [:]\n    }\n\n    try {\n        return new JsonSlurper().parse(jsonFile) ?: [:]\n    } catch (Exception e) {\n        log.error(\"Failed to parse JSON file at ${filePath}. Returning empty JSON object.\", e)\n        return [:]\n    }\n}\n\ndef updateState = { flowFiles, state ->\n\tflowFiles.each { flowFile -> state = aggreagteFlowFileState(flowFile, state) }\n\treturn state\n}\n\n// ==========================================\n// ==========================================\n// Main\n// ==========================================\n// ==========================================\n\nint batchSize = context.getProperty(\"batchSize\").evaluateAttributeExpressions().value.toInteger() ?: 100  // default 10 if null\nboolean isSample = context.getProperty(\"isSample\").evaluateAttributeExpressions().value.toBoolean() ?: false\ndef keyFilterPattern = context.getProperty(\"keyFilterPattern\")?.evaluateAttributeExpressions()?.value ?: '.*'\ndef topicFilterPattern = context.getProperty(\"topicFilterPattern\")?.evaluateAttributeExpressions()?.value ?: '.*'\ndef stateFilePath = context.getProperty(\"stateFilePath\")?.evaluateAttributeExpressions()?.value ?: '.*'\ndef stateFileName = context.getProperty(\"stateFileName\")?.evaluateAttributeExpressions()?.value ?: 'frequencies-state.json'\n\ndef flowFiles = session.get(batchSize)\nif (!flowFiles.isEmpty()) {\n\tif(isSample) {\n\tdef stateFileFullPath = stateFilePath + '/' + stateFileName\n\t\tdef state = getCurrentState(stateFileFullPath)\n\t\tstate = updateState(flowFiles, state)\n\t\t\n\t\tflowFileState = session.create()\n\t\n\t\tflowFileState = session.putAttribute(flowFileState, \"isSample\", isSample.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"batchSize\", batchSize.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"keyFilterPattern\", keyFilterPattern.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"topicFilterPattern\", topicFilterPattern.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"stateFilePath\", stateFilePath.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"stateFileName\", stateFileName.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"filename\", stateFileName.toString())\n\t\t\n\t\tflowFileState = session.write(flowFileState, { inputStream, outputStream ->\n\t\tdef jsonText = JsonOutput.toJson(state)\n\t\toutputStream.write(jsonText.getBytes(StandardCharsets.UTF_8))\n\t\t} as StreamCallback)\n\t\t\n\t\tsession.transfer(flowFileState, REL_SUCCESS)\n\t} else {\n\t\tflowFiles.each { flowFile ->\n\t\t\tflowFile = session.putAttribute(flowFile, \"isSample\", isSample.toString())\n\t\t\tsession.transfer(flowFile, REL_SUCCESS)\n\t\t}\n\t}\n}","stateFilePath":"/opt/nifi/nifi-current/temp-data","topicFilterPattern":".*","batchSize":"10000","Module Directory":null,"keyFilterPattern":".*"},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"isSample":{"name":"isSample","displayName":"isSample","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stateFileName":{"name":"stateFileName","displayName":"stateFileName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stateFilePath":{"name":"stateFilePath","displayName":"stateFilePath","identifiesControllerService":false,"sensitive":false,"dynamic":true},"topicFilterPattern":{"name":"topicFilterPattern","displayName":"topicFilterPattern","identifiesControllerService":false,"sensitive":false,"dynamic":true},"batchSize":{"name":"batchSize","displayName":"batchSize","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"keyFilterPattern":{"name":"keyFilterPattern","displayName":"keyFilterPattern","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"},{"identifier":"1f2bd457-db5e-315f-8349-2f2481252cf0","instanceIdentifier":"435b207e-0199-1000-5937-22c77908cc8a","name":"PutFile","comments":"","position":{"x":272.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"${stateFilePath}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"}],"inputPorts":[{"identifier":"1be0c72e-0acd-3801-96ab-9e3dde16afd3","instanceIdentifier":"422a010f-0199-1000-5d68-036d3cf0be23","name":"Aggregate Stats","position":{"x":-337.5,"y":-237.16664123535156},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"}],"outputPorts":[{"identifier":"ed680e47-4193-3681-9704-d1c4ec0b979d","instanceIdentifier":"422a2544-0199-1000-518e-441ab5f129f8","name":"Result","position":{"x":616.0,"y":144.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"},{"identifier":"2df51cb6-7a15-357f-adc9-7084b46dc961","instanceIdentifier":"427f199c-0199-1000-46cf-3a562389cb86","name":"Error","position":{"x":-48.0,"y":152.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"}],"connections":[{"identifier":"4cad83ac-f702-38f2-bc7b-88cb7c0b7068","instanceIdentifier":"435eee35-0199-1000-4d3a-dc75b903b59d","name":"","source":{"id":"1f2bd457-db5e-315f-8349-2f2481252cf0","type":"PROCESSOR","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"PutFile","comments":"","instanceIdentifier":"435b207e-0199-1000-5937-22c77908cc8a"},"destination":{"id":"2df51cb6-7a15-357f-adc9-7084b46dc961","type":"OUTPUT_PORT","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"Error","instanceIdentifier":"427f199c-0199-1000-46cf-3a562389cb86"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"},{"identifier":"9c77e6c7-a1e4-3844-a0b1-b6bbad8d94b9","instanceIdentifier":"422a2e0c-0199-1000-aaab-a6fcba06d8d9","name":"","source":{"id":"1be0c72e-0acd-3801-96ab-9e3dde16afd3","type":"INPUT_PORT","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"Aggregate Stats","instanceIdentifier":"422a010f-0199-1000-5d68-036d3cf0be23"},"destination":{"id":"170fa2c6-056d-37f7-af30-4b012fe45d46","type":"PROCESSOR","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"ExecuteScript","comments":"","instanceIdentifier":"42729f86-0199-1000-6a55-dbd22c86582d"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"},{"identifier":"1c973d18-f176-3050-9471-ad42c4d966ba","instanceIdentifier":"42746f55-0199-1000-b73d-55237c28d661","name":"","source":{"id":"170fa2c6-056d-37f7-af30-4b012fe45d46","type":"PROCESSOR","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"ExecuteScript","comments":"","instanceIdentifier":"42729f86-0199-1000-6a55-dbd22c86582d"},"destination":{"id":"1f2bd457-db5e-315f-8349-2f2481252cf0","type":"PROCESSOR","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"PutFile","comments":"","instanceIdentifier":"435b207e-0199-1000-5937-22c77908cc8a"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"},{"identifier":"61adacd9-289a-34a7-acd5-5d99d6d1848e","instanceIdentifier":"427f2aa9-0199-1000-96ee-582ed9321c86","name":"","source":{"id":"170fa2c6-056d-37f7-af30-4b012fe45d46","type":"PROCESSOR","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"ExecuteScript","comments":"","instanceIdentifier":"42729f86-0199-1000-6a55-dbd22c86582d"},"destination":{"id":"2df51cb6-7a15-357f-adc9-7084b46dc961","type":"OUTPUT_PORT","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"Error","instanceIdentifier":"427f199c-0199-1000-46cf-3a562389cb86"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"},{"identifier":"ccc348d0-ea64-3c4a-b9cb-da15197fc177","instanceIdentifier":"435ed7a6-0199-1000-6023-98aee1fb2a5a","name":"","source":{"id":"1f2bd457-db5e-315f-8349-2f2481252cf0","type":"PROCESSOR","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"PutFile","comments":"","instanceIdentifier":"435b207e-0199-1000-5937-22c77908cc8a"},"destination":{"id":"ed680e47-4193-3681-9704-d1c4ec0b979d","type":"OUTPUT_PORT","groupId":"7a99c39f-78e4-3048-b5be-ac2f001e5652","name":"Result","instanceIdentifier":"422a2544-0199-1000-518e-441ab5f129f8"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a99c39f-78e4-3048-b5be-ac2f001e5652"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}