flows/Stats_Calculation_and_Aggregation_POC.json
{"flowContents":{"identifier":"319073d0-f801-374f-9909-d0563dd28878","instanceIdentifier":"437f0184-0199-1000-f275-72139b1d735b","name":"Stats Calculation and Aggregation POC","comments":"","position":{"x":-1464.0,"y":-640.0},"processGroups":[{"identifier":"437f848b-0199-1000-d11b-56aeda563a59","instanceIdentifier":"911c876f-9ea6-3724-51e1-92eb02547184","name":"Stats Calculator and Aggregator","comments":"","position":{"x":180.06056174198648,"y":-199.9660095109407},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"437f848d-0199-1000-75de-7195eef3bef8","instanceIdentifier":"cb4c3ccb-e800-302a-143d-c0a61a1bd40d","name":"PutFile","comments":"","position":{"x":272.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"${stateFilePath}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"},{"identifier":"437f848c-0199-1000-8678-21cae6be152d","instanceIdentifier":"2163ed8b-d218-380c-dfcc-1e0ed1e9595d","name":"ExecuteScript","comments":"","position":{"x":-392.0,"y":-104.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":null,"isSample":"true","stateFileName":"frequencies-state.json","Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef aggreagteFlowFileState = { flowFile, state ->\n\t// def id = flowFile.getAttribute('uuid')\n    // def name = flowFile.getAttribute('filename')\n\t// state[id] = name\n\t\n\tstate['counter'] = state.get('counter', 0) + 1\n\t\n\tsession.remove(flowFile)\n\treturn state\n}\n\ndef getCurrentState = { String filePath ->\n    if (!filePath) {\n        log.warn(\"File path is null or empty. Returning empty JSON object.\")\n        return [:]\n    }\n\n    def jsonFile = new File(filePath)\n    if (!jsonFile.exists()) {\n        log.info(\"JSON file not found at path: ${filePath}. Initializing empty JSON object.\")\n        return [:]\n    }\n\n    try {\n        return new JsonSlurper().parse(jsonFile) ?: [:]\n    } catch (Exception e) {\n        log.error(\"Failed to parse JSON file at ${filePath}. Returning empty JSON object.\", e)\n        return [:]\n    }\n}\n\ndef updateState = { flowFiles, state ->\n\tflowFiles.each { flowFile -> state = aggreagteFlowFileState(flowFile, state) }\n\treturn state\n}\n\n// ==========================================\n// ==========================================\n// Main\n// ==========================================\n// ==========================================\n\nint batchSize = context.getProperty(\"batchSize\").evaluateAttributeExpressions().value.toInteger() ?: 100  // default 10 if null\nboolean isSample = context.getProperty(\"isSample\").evaluateAttributeExpressions().value.toBoolean() ?: false\ndef keyFilterPattern = context.getProperty(\"keyFilterPattern\")?.evaluateAttributeExpressions()?.value ?: '.*'\ndef topicFilterPattern = context.getProperty(\"topicFilterPattern\")?.evaluateAttributeExpressions()?.value ?: '.*'\ndef stateFilePath = context.getProperty(\"stateFilePath\")?.evaluateAttributeExpressions()?.value ?: '.*'\ndef stateFileName = context.getProperty(\"stateFileName\")?.evaluateAttributeExpressions()?.value ?: 'frequencies-state.json'\n\ndef flowFiles = session.get(batchSize)\nif (!flowFiles.isEmpty()) {\n\tif(isSample) {\n\tdef stateFileFullPath = stateFilePath + '/' + stateFileName\n\t\tdef state = getCurrentState(stateFileFullPath)\n\t\tstate = updateState(flowFiles, state)\n\t\t\n\t\tflowFileState = session.create()\n\t\n\t\tflowFileState = session.putAttribute(flowFileState, \"isSample\", isSample.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"batchSize\", batchSize.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"keyFilterPattern\", keyFilterPattern.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"topicFilterPattern\", topicFilterPattern.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"stateFilePath\", stateFilePath.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"stateFileName\", stateFileName.toString())\n\t\tflowFileState = session.putAttribute(flowFileState, \"filename\", stateFileName.toString())\n\t\t\n\t\tflowFileState = session.write(flowFileState, { inputStream, outputStream ->\n\t\tdef jsonText = JsonOutput.toJson(state)\n\t\toutputStream.write(jsonText.getBytes(StandardCharsets.UTF_8))\n\t\t} as StreamCallback)\n\t\t\n\t\tsession.transfer(flowFileState, REL_SUCCESS)\n\t} else {\n\t\tflowFiles.each { flowFile ->\n\t\t\tflowFile = session.putAttribute(flowFile, \"isSample\", isSample.toString())\n\t\t\tsession.transfer(flowFile, REL_SUCCESS)\n\t\t}\n\t}\n}","stateFilePath":"/opt/nifi/nifi-current/temp-data","topicFilterPattern":".*","batchSize":"10000","Module Directory":null,"keyFilterPattern":".*"},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"isSample":{"name":"isSample","displayName":"isSample","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stateFileName":{"name":"stateFileName","displayName":"stateFileName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stateFilePath":{"name":"stateFilePath","displayName":"stateFilePath","identifiesControllerService":false,"sensitive":false,"dynamic":true},"topicFilterPattern":{"name":"topicFilterPattern","displayName":"topicFilterPattern","identifiesControllerService":false,"sensitive":false,"dynamic":true},"batchSize":{"name":"batchSize","displayName":"batchSize","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"keyFilterPattern":{"name":"keyFilterPattern","displayName":"keyFilterPattern","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"}],"inputPorts":[{"identifier":"437f848e-0199-1000-9a7e-82196effa825","instanceIdentifier":"28eb6036-1499-3a0b-3e42-afee6c644b7f","name":"Aggregate Stats","position":{"x":-337.5,"y":-237.16664123535156},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"}],"outputPorts":[{"identifier":"437f848f-0199-1000-feaf-4475686ddfc6","instanceIdentifier":"0181b480-bb6b-37dd-f5ec-b5734382e7fc","name":"Result","position":{"x":616.0,"y":144.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"},{"identifier":"437f8490-0199-1000-54d8-1c6bfec210c9","instanceIdentifier":"56885be7-1e4b-3832-e872-37a7a38f5c84","name":"Error","position":{"x":-48.0,"y":152.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"}],"connections":[{"identifier":"437f8492-0199-1000-3e7f-6aee30956270","instanceIdentifier":"f64d088e-caf8-3a3b-53b8-8837a50c053d","name":"","source":{"id":"437f848e-0199-1000-9a7e-82196effa825","type":"INPUT_PORT","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"Aggregate Stats","instanceIdentifier":"28eb6036-1499-3a0b-3e42-afee6c644b7f"},"destination":{"id":"437f848c-0199-1000-8678-21cae6be152d","type":"PROCESSOR","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"ExecuteScript","comments":"","instanceIdentifier":"2163ed8b-d218-380c-dfcc-1e0ed1e9595d"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"},{"identifier":"437f8491-0199-1000-2697-1b1c7f58e0d1","instanceIdentifier":"ae625877-ab17-396b-006e-82a257996a1d","name":"","source":{"id":"437f848d-0199-1000-75de-7195eef3bef8","type":"PROCESSOR","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"PutFile","comments":"","instanceIdentifier":"cb4c3ccb-e800-302a-143d-c0a61a1bd40d"},"destination":{"id":"437f8490-0199-1000-54d8-1c6bfec210c9","type":"OUTPUT_PORT","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"Error","instanceIdentifier":"56885be7-1e4b-3832-e872-37a7a38f5c84"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"},{"identifier":"437f8495-0199-1000-78a9-83e98558c615","instanceIdentifier":"5cdd7e6b-9d87-3bc2-d29e-8ebd493f2ddd","name":"","source":{"id":"437f848d-0199-1000-75de-7195eef3bef8","type":"PROCESSOR","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"PutFile","comments":"","instanceIdentifier":"cb4c3ccb-e800-302a-143d-c0a61a1bd40d"},"destination":{"id":"437f848f-0199-1000-feaf-4475686ddfc6","type":"OUTPUT_PORT","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"Result","instanceIdentifier":"0181b480-bb6b-37dd-f5ec-b5734382e7fc"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"},{"identifier":"437f8494-0199-1000-d453-0bf6c4e63eae","instanceIdentifier":"71ba30ae-cc46-3fcf-2d38-6bd0a8363e12","name":"","source":{"id":"437f848c-0199-1000-8678-21cae6be152d","type":"PROCESSOR","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"ExecuteScript","comments":"","instanceIdentifier":"2163ed8b-d218-380c-dfcc-1e0ed1e9595d"},"destination":{"id":"437f8490-0199-1000-54d8-1c6bfec210c9","type":"OUTPUT_PORT","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"Error","instanceIdentifier":"56885be7-1e4b-3832-e872-37a7a38f5c84"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"},{"identifier":"437f8493-0199-1000-3f9a-1c947beef304","instanceIdentifier":"d50a92e0-023e-32dc-9c6f-4304724d5ef5","name":"","source":{"id":"437f848c-0199-1000-8678-21cae6be152d","type":"PROCESSOR","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"ExecuteScript","comments":"","instanceIdentifier":"2163ed8b-d218-380c-dfcc-1e0ed1e9595d"},"destination":{"id":"437f848d-0199-1000-75de-7195eef3bef8","type":"PROCESSOR","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"PutFile","comments":"","instanceIdentifier":"cb4c3ccb-e800-302a-143d-c0a61a1bd40d"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437f848b-0199-1000-d11b-56aeda563a59"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"319073d0-f801-374f-9909-d0563dd28878"}],"remoteProcessGroups":[],"processors":[{"identifier":"437f848a-0199-1000-2060-8dc1831babaf","instanceIdentifier":"2050d24e-dd27-3e84-d2fb-4cfffebb8ec1","name":"Kafka Consumer Mocker","comments":"","position":{"x":-520.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\n\t_msgSizeData: {\n\t\tmsgSizeBytes: 10,\n\t\tmsggMetaDataSizeBytes: 1\n\t}\n}","Batch Size":"1","Unique FlowFiles":"false","kafka.topic":"101.SourceType.SourceId.Component.V","kafka.key":"Message","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5000,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"319073d0-f801-374f-9909-d0563dd28878"},{"identifier":"437f8489-0199-1000-a217-7001c6338e64","instanceIdentifier":"961fd792-c706-3736-4589-ef56e59ad2b6","name":"LogAttribute","comments":"","position":{"x":196.06056174198648,"y":72.0339904890593},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":"[Stats Result]","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"319073d0-f801-374f-9909-d0563dd28878"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"437f8497-0199-1000-f5bf-cffd19026112","instanceIdentifier":"b38c8e9f-a5f8-3c28-9da5-bd3b31034802","name":"","source":{"id":"437f848a-0199-1000-2060-8dc1831babaf","type":"PROCESSOR","groupId":"319073d0-f801-374f-9909-d0563dd28878","name":"Kafka Consumer Mocker","comments":"","instanceIdentifier":"2050d24e-dd27-3e84-d2fb-4cfffebb8ec1"},"destination":{"id":"437f848e-0199-1000-9a7e-82196effa825","type":"INPUT_PORT","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"Aggregate Stats","instanceIdentifier":"28eb6036-1499-3a0b-3e42-afee6c644b7f"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"319073d0-f801-374f-9909-d0563dd28878"},{"identifier":"437f8498-0199-1000-b703-663d38c23474","instanceIdentifier":"23065537-34a3-39d5-6967-e92f2960da0d","name":"","source":{"id":"437f848f-0199-1000-feaf-4475686ddfc6","type":"OUTPUT_PORT","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"Result","instanceIdentifier":"0181b480-bb6b-37dd-f5ec-b5734382e7fc"},"destination":{"id":"437f8489-0199-1000-a217-7001c6338e64","type":"PROCESSOR","groupId":"319073d0-f801-374f-9909-d0563dd28878","name":"LogAttribute","comments":"","instanceIdentifier":"961fd792-c706-3736-4589-ef56e59ad2b6"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"319073d0-f801-374f-9909-d0563dd28878"},{"identifier":"437f8496-0199-1000-8f3c-5309bb7d1805","instanceIdentifier":"5c5f0676-c39d-3006-f8ff-12980f1e7783","name":"","source":{"id":"437f8490-0199-1000-54d8-1c6bfec210c9","type":"OUTPUT_PORT","groupId":"437f848b-0199-1000-d11b-56aeda563a59","name":"Error","instanceIdentifier":"56885be7-1e4b-3832-e872-37a7a38f5c84"},"destination":{"id":"437f8489-0199-1000-a217-7001c6338e64","type":"PROCESSOR","groupId":"319073d0-f801-374f-9909-d0563dd28878","name":"LogAttribute","comments":"","instanceIdentifier":"961fd792-c706-3736-4589-ef56e59ad2b6"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":116.13270529667398,"y":16.096063242965556}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"319073d0-f801-374f-9909-d0563dd28878"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}